/*! media querries  */

@media only screen and (max-width: 768px) {
  .main-heading,
  .primary-heading {
    font-size: 2.5rem;
  }

  #our-story {
    text-align: center;
  }

  #our-story .title {
    transform: translateX(50px);
  }

  #our-story .img-container .img {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  .content-section {
    text-align: center;
  }

  .coffee-container .img-container {
    margin-top: 5rem;
    width: 50%;
  }

  .title {
    margin: 0 auto;
  }

  .title-two {
    margin: 0 auto;
  }

  .title-three {
    margin: 0 auto;
  }
}
