/*? google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
/*? font-family: 'Playfair Display', serif; */

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
  --custom-font-family: "Playfair Display", serif;
}

/* utility styles  */
button {
  padding: 10px 30px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
}

button:hover {
  background-color: white;
  color: black;
  box-shadow: 3px 3px 5px red, -3px 0px 5px red;
}

/* resets  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: #100e0f;
}

/* nav start  */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding-top: 15px;
  height: 5rem;
}

/* logo  */
.logo a {
  color: white;
}

li {
  display: inline;
}

li a {
  color: #fff;
  margin-left: 40px;
  padding-bottom: 5px;
  transition: all 0.3s;
}

li a:hover {
  border-bottom: 2px solid var(--main-color);
  color: grey;
}
/* nav end */

/* header start  */
.header {
  background: url(images/pexels-nao-triponez-129207.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  /* flexbox  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* position  */
  position: relative;
  text-align: center;
}

.main-heading {
  /* position  */
  position: absolute;
  top: 7rem;
  font-size: 4rem;
  word-spacing: 10px;
}

.primary-heading {
  /* position */
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}

.main-btn {
  /* position  */
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background: transparent;
  background: var(--main-color);
  transform: translateY(60px);
}
/* header end */

/* our-story section start  */
#our-story {
  /* height: 100vh; */
  margin-top: 15%;
  /* flexbox  */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.img {
  width: 400px;
  height: 400px;
  background: url(images/pexels-chitokan-2183027-removebg-preview.png);
  background-position: center;
  background-size: cover;
}

.title-style {
  /* flexbox  */
  display: flex;
  align-items: center;
}

.title {
  font-family: var(--custom-font-family);
  font-size: 4rem;
  color: #fff;
  transform: translateX(-100px);
}

.line {
  width: 100px;
  height: 2px;
  background: #fff;
  transform: translateX(-120px);
}

.section-content p {
  max-width: 500px;
  color: #fff;
  font-family: sans-serif;
  line-height: 20px;
}
/* our-story section end  */

/* coffee-container  section start  */
.coffee-container {
  /* flexbox  */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}

.img-2 {
  width: 400px;
  height: 400px;
}

.title-two {
  font-size: 3rem;
  color: #fff;
  font-family: var(--custom-font-family);
  font-weight: normal;
}

.content-section p {
  max-width: 500px;
  color: white;
  margin-top: 20px;
  font-family: sans-serif;
}
/* coffee-container  section en  */

/* products section start  */
.products {
  margin-top: 5rem;
}

.title-three {
  font-size: 4rem;
  margin-left: 10rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.cards {
  /* flexbox  */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card {
  border: 2px solid var(--main-color);
  padding: 0px 20px;
  height: 400px;
  width: 300px;
  /* flexbox  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  /* position  */
  position: relative;
  margin-bottom: 4rem;
}

.card-img {
  width: 100px;
  height: 100px;
  /* position  */
  position: absolute;
  top: -60px;
}

.img-one {
  background: url(images/1.png);
  background-position: center;
  background-size: cover;
}

.img-two {
  background: url(images/2.png);
  background-position: center;
  background-size: cover;
}

.img-three {
  background: url(images/3.png);
  background-position: center;
  background-size: cover;
}

.card-title {
  color: white;
  font-family: sans-serif;
  margin-top: 50px;
}

.card .items p {
  color: #fff;
  margin: 20px 0;
  font-family: sans-serif;
}
/* products section end */

/* footer start  */
footer {
  margin-bottom: 50px;
  height: 50vh;
  /* flexbox  */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
}

footer .container {
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

footer .heading-info {
  margin-bottom: 20px;
}

footer p {
  line-height: 25px;
}

span {
  color: var(--main-color);
}

hr {
  width: 100vw;
  border: var(--main-color);
  margin: 0 auto;
}

.para {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
  /* margin-bottom: 10px; */
}
/* footer end */
